.main h1 {
  display: inline-block;
}

#categories {
  background-color: rgba(0, 0, 0, 0.8);
  width: fit-content;
  display: inline-block;
  height: 100%;
  position: fixed;
  right: 0;
  padding: 0 40px;
}

#categories h2 {
  padding: 20px 30px;
  font-weight: 100;
  color: white;
}

#categories ul li {
  padding: 10px 0;
}

#categories ul li a {
  color: lightskyblue;
}
